DLLs/
Doc/
LICENSE.txt
Lib/
NEWS.txt
README.txt
Scripts/
Tools/
libs/
mouseNow.py
python.exe
python.pdb
python3.dll
python36.dll
python36.pdb
python36_d.dll
python36_d.pdb
python3_d.dll
python_d.exe
python_d.pdb
pythonw.exe
pythonw.pdb
pythonw_d.exe
pythonw_d.pdb
tcl/
vcruntime140.dll
include
